.btn-primary {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	background-color: #1bc681;
	display: block;
	border-radius: 6px;
	text-align: center;
	padding: 8px 24px;
	outline: none;
}
